body{
	background-color: red;
}

#game_view {
	height: 350px;
	background-color: white;
	position: relative;
	overflow: hidden;
	top: 100px;
}

.long_grass {
	width: 10000px;
	height: 50px;
	background-image: url('images/longgrass.png');
	position: absolute;
	bottom: 0;
}